@font-face {
  font-family: TT Hoves;
  src: url(/fonts/TTHoves-Medium.woff);
  src: url(/fonts/TTHoves-Medium.woff2);
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}


.container {
  width: 1440px;
  height: 102px;
  margin: 0 auto; 
  font-family: tt hoves;
}



.mainLogo{
  margin-left: 136.45px;
  width: 68.552px;
  height: 41.527px;
  flex-shrink: 0;
}

.navigation{
  display: flex;
  margin-top: 44.69px;
  margin-bottom: 45px;
  
}

.navigation-list{
  display: flex;
  margin-left: 330px;
  text-align: center;
  align-items: center;
  gap: 60px;
  list-style-type: none;
}

.navigation-element {
  display: inline-block;
  color: #000000; 
  line-height: 1;
  text-decoration: none; 
  cursor: pointer;
}
.navigation-element:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 1px; 
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.navigation-element:hover:after,
.navigation-element:focus:after {
  width: 100%;
}

.hero-section{
  display: flex;
  position: relative;
}
.hero-img{
  width: 770px;
height: 829px;
flex-shrink: 0;
}
.main-text{
  color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px; /* 100% */
margin-top: 336px;
margin-right: 122px;
margin-left: 135px;

}

.home-word{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 100% */
display: block;
}

.button-list{
  list-style-type: none;
  display: flex;
  gap:23px;
  margin-left: 135px;
  margin-top: 90px;
}

.button-left,
.button-right {
  border: 1px solid #F2F2F2;
  background: #FFF;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}


.arrow-svg{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.look-button{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; 
letter-spacing: 2.4px;
text-transform: uppercase;
width: 222px;
height: 71px;
flex-shrink: 0;
position: absolute;
bottom: 0; 
left: 0; 
display: flex;
padding-left: 50px;
text-align: center;
align-items: center;
gap: 12px;
border: none;
transition: 1s
}


.look-button:hover {
  transform: scale(1.2); 
}

.button-and-picture{
  position: relative;
  margin-bottom: 120px;
}
.button-svg-arrow{
  width: 24px;
  height: 24px;

}

.about-company-container{
 background: var(--1, #FBFBFB);
  flex-shrink: 0;
  margin-left: 135px;
  display: flex;
}
.about-company-text-container{
  display: block;
  margin-left: 30px;
}

.about-company-imagelist{
  display: flex;
  list-style-type: none;
  margin-left: 100px;
}
.first-image-list{
  list-style-type: none;
  margin-top: 30px;
}
.second-image-list{
  margin-left: 30px;
  list-style-type: none;
  margin-top: 60px;
}
.second-image{
  margin-top: 30px;
}
.about-company-tittle{
color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px;
margin-top: 30px;
}
.about-company-text{
  color: #000;
font-family: TT Hoves;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 25px;
max-width: 400px;
max-height: 200px;
margin-top: 20px;
margin-bottom: 20px; 
}
.about-company-button{
  color: var(--Gray-1, #333);
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; 
  letter-spacing: 2.4px;
  text-transform: uppercase;
  width: 222px;
  height: 71px;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 12px;
  border: none;
  transition: 1s;
  padding-left: 65px;
}
.about-company-button:hover {
  transform: scale(1.2); 
}