@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans&display=swap');
@font-face {
  font-family: 'San Francisco Pro Display Light';
  src: url('SFProDisplay-Light.eot');
  src: url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('SFProDisplay-Light.woff') format('woff'),
  url('SFProDisplay-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: TT Hoves;
  src: url(/fonts/TTHoves-Medium.woff);
  src: url(/fonts/TTHoves-Medium.woff2);
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}


.container {
  width: 1440px;
  margin: 0 auto; 
  font-family: tt hoves;
}



.mainLogo{
  margin-left: 136.45px;
  width: 68.552px;
  height: 41.527px;
  flex-shrink: 0;
}

.navigation{
  display: flex;
  margin-top: 44.69px;
  margin-bottom: 45px;
  
}

.navigation-list{
  display: flex;
  margin-left: 330px;
  text-align: center;
  align-items: center;
  gap: 60px;
  list-style-type: none;
}

.navigation-element {
  display: inline-block;
  color: #000000; 
  line-height: 1;
  text-decoration: none; 
  cursor: pointer;
}
.navigation-element:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 1px; 
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.navigation-element:hover:after,
.navigation-element:focus:after {
  width: 100%;
}

.hero-section{
  display: flex;
  position: relative;
}
.hero-img{
  width: 770px;
height: 829px;
flex-shrink: 0;
}
.main-text{
  color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px; /* 100% */
margin-top: 336px;
margin-right: 122px;
margin-left: 135px;

}

.home-word{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 100% */
display: block;
}

.button-list{
  list-style-type: none;
  display: flex;
  gap:23px;
  margin-left: 135px;
  margin-top: 90px;
}

.button-left,
.button-right {
  border: 1px solid #F2F2F2;
  background: #FFF;
  width: 53px;
  height: 53px;
  flex-shrink: 0;
}


.arrow-svg{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.look-button{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; 
letter-spacing: 2.4px;
text-transform: uppercase;
width: 222px;
height: 71px;
flex-shrink: 0;
position: absolute;
bottom: 0; 
left: 0; 
display: flex;
padding-left: 50px;
text-align: center;
align-items: center;
gap: 12px;
border: none;
transition: 1s;
cursor: pointer;
}


.look-button:hover {
  transform: scale(1.2); 
}

.button-and-picture{
  position: relative;
  margin-bottom: 120px;
}
.button-svg-arrow{
  width: 24px;
  height: 24px;

}

.about-company-container{
 background: var(--1, #FBFBFB);
  flex-shrink: 0;
  margin-left: 135px;
  display: flex;
  width: 1170px;
}
.about-company-text-container{
  margin-left: 30px;
}

.about-company-imagelist{
  display: flex;
  list-style-type: none;
  margin-left: 100px;
}
.first-image-list{
  list-style-type: none;
  margin-top: 30px;
}
.second-image-list{
  margin-left: 30px;
  list-style-type: none;
  margin-top: 60px;
}
.second-image{
  margin-top: 30px;
}
.about-company-tittle{
color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px;
margin-top: 30px;
}
.about-company-text{
  color: #000;
font-family: TT Hoves;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 25px;
max-width: 400px;
max-height: 200px;
margin-top: 20px;
margin-bottom: 20px; 
}
.about-company-button{
  color: var(--Gray-1, #333);
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; 
  letter-spacing: 2.4px;
  text-transform: uppercase;
  width: 222px;
  height: 71px;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 12px;
  border: none;
  transition: 1s;
  padding-left: 65px;
  cursor: pointer;
}
.about-company-button:hover {
  transform: scale(1.2); 
}
.Main-goals{
  margin-top: 120px;
  margin-left: 135px; 
}
.main-tasks-text{
  color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px; 

}
.number{
  color: var(--Gray-6, #F2F2F2);
font-size: 200px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.tasks-list{
  list-style-type: none;
  display: flex;
  margin-top: 60px;
  gap: 187px;
}
.tasks-list-fragment{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 163.636% */
max-width: 279px;

}
.tasks-list-fragmet{
  display: flex;
}
.tasks-list-fragmet-text{
  color: var(--Gray-1, #333);
font-family: TT Hoves;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 163.636% */
margin-left: 30px;
margin-top: 60px;
max-width: 279px;
}
.tasks-list-fragmet-text-second{
  color: var(--Gray-1, #333);
  font-family: TT Hoves;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
  margin-left: 30px;
  margin-top: 60px;
  max-width: 448px;
}
.our-products-section{
  margin-top: 120px;
  margin-left: 135px;
}
.our-products-text{
  color: var(--Gray-4, #BDBDBD);
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; 
}
.our-products-first-list{
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-top: 60px;
}
.our-products-second-list{
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.image-link-conteiner{
  background:linear-gradient( to right, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8) ), url(/img/our_project1.png);
  max-width: 570px;
  max-height: 255px;
}
.button-our-projects{
  flex-shrink: 0;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  background: none;
  border: none;
  gap: 12px;
  padding-left: 79px;
  padding-bottom: 53px;
  margin-top: 14px;
  cursor: pointer;
}
.details{
   color: #FFF;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  padding-top: 48px;
  padding-left: 79px;
  
}
.button-svg-arrow-details{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: rgba(255, 255, 255, 1);
}
.all-projects-button{
  color: #FFF;
font-family: TT Hoves;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 100% */
letter-spacing: 2.4px;
text-transform: uppercase;
  background: var(--Gray-1, #333);
  display: flex;
 margin-top: 30px;
 flex-shrink: 0;   
 align-items: center;
 text-align: center;
 width: 222px;
height: 71px;
flex-shrink: 0;
padding-left: 39px;
gap: 12px;
border: none;
margin-left: 948px; 
}
.arrow-svg-all-projects{
  width: 24px;
height: 24px;
flex-shrink: 0;
fill: #FFF;
}
.contacts-with-us-text{
  color: var(--Gray-4, #BDBDBD);
font-family: TT Hoves;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px; 
}
.contacts-section{
  margin-top: 120px;
  margin-left: 135px;
}
.image-and-picture-container{
  display: flex;
  gap: 30px;
}
.contacts-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 22px;
}
.contacts-input{
  background: #F3F3F3;
  border: none;
  color: #8D8D8D;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  padding-left: 21px;
  width: 391px;
  height: 46px;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  flex-shrink: 0;
}

.custom-checkbox {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 23.262px;
  background: #FFF;
  border-radius: 4px;
  transition: 0.2s ease-in;
  background-color: rgba(243, 243, 243, 1);
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 23.262px;
  background-image: url("./img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  left: 50%;
  top: 50%;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.contacts-text-area{
  background: #F3F3F3;
  border: none;
  color: #8D8D8D;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  padding-left: 21px;
  resize: none;
  width: 391px;
  height: 147px;
  flex-shrink: 0;
  padding-top: 14px;
  padding-left: 21px;
}

.privacy-checkbox {
  color: #333;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  max-width: 331px;
  max-height: 34px;
  display: flex;
  margin-top: 22px;
  position: relative;
  padding-left: 30px;
}
.privacy-button{
  color: #FFF;
font-family: TT Hoves;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; /* 100% */
letter-spacing: 2.4px;
text-transform: uppercase;
  background: var(--Gray-1, #333);
  display: flex;
 margin-top: 21px;
 flex-shrink: 0;   
 align-items: center;
 text-align: center;
 width: 222px;
height: 71px;
flex-shrink: 0;
padding-left: 39px;
gap: 12px;
border: none;
margin-bottom: 120px;
} 
footer{
   background: #2C2C2C;
}
.footer-conteiner{
  display: flex;
  background: #2C2C2C;
}
.logo-footer{
  margin-left: 116px;
  padding-top: 58px;
  width: 145px;
  height: 94px;
  fill: white;
}
.nav-footer{
  list-style-type: none;
  color: #FFF;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.42px;
  margin-top: 58px;
  margin-left: 99px;
}
.information-text{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.element-nav{
  margin-bottom: 25px;
}

.contacts-footer{
  margin-top: 58px;
  list-style-type: none;
  color: #FFF;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.42px;
  margin-left: 157px;
}
.contacts-element{
  margin-bottom: 25px;
}
.geo{
  max-width: 314px;
  max-height: 72px;
}
.line{
  border-top: 2px solid #FFF;
  stroke-width: 1px;
stroke: #FFF;
opacity: 0.1;
}
.protection-of-rights{
  text-align: center;
  margin-top: 24px;
  padding-bottom: 24px;
  color: rgba(200, 200, 200, 0.50);
  font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 183.333% */
}
.svg-message{
  width: 16px;
height: 11px;
flex-shrink: 0;
margin-right: 14px;
}
.svg-tele{
  width: 16.01px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 14px;
}
.svg-geo{
  width: 11px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 19px;
}
.social-text{
  color: #FFF;
font-family: TT Hoves;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:  58px;
max-width: 140px;
max-height: 20px;
}
.social-footer{
  display: flex;
  list-style-type: none;
  gap: 40px;
  margin-top: 23px;
}
.svg-facebook{
  width: 10px;
  height: 19px;
  flex-shrink: 0;

}
.svg-link-in{
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg-twitter{
  width: 22px;
  height: 17px;
  flex-shrink: 0;
}
.svg-pintrst{
  width: 14px;
  height: 19px;
  flex-shrink: 0;
}
.social-conteiner{
  margin-left: 71px;
}